<footer>
        <img src="https://www.loseit.com/_home/scale_glyph.png" alt="">
        <div class="social">
            <a href="https://www.facebook.com/loseit/">
                <i  class="fa"></i>
            </a>
            <a href="https://twitter.com/loseit">
                <i class="tw"></i></a>
            <a href="https://www.instagram.com/loseitapp/">
                <i class="inst"></i></a>
        </div>
        <div class="privacy">
            <p>© Copyright 2008-2019 FitNow, Inc. All Rights Reserved</p>
            <p> <a href="#">Privacy </a><span>|</span><a href="#"> Terms of Service </a></p>
        </div>
</footer>