.nav-link{
    color: #1d1d1d;
}
.active{
    background-color: #f57600!important;
    color: rgb(255, 255, 255)!important;
}
.container-fluid{
    background-color: #ffffff;
    padding-top: 50px;
    min-height: 600px;
}
.row{
    @media screen and (max-width:810px){
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }     
}
.nav{
    @media screen and (max-width:810px){
        margin-bottom: 20px;
    }
}
