<main>
    <div class="image">
            <button routerLink="/start" type="button" class="btn">Sign Up For Free!</button>
    </div>
    <div class="colBg">
        <div class="col">
            <div class="numbers">
                <h2>Numbers Don't Lie</h2>
                <div class="box"><span>84,567,834</span></div>
                <p class="pounds">pounds lost using lose it!</p>
            </div>
            <div class="howItWorks">
                <h2>How it Works</h2>
                <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fsunrise_icon.png?alt=media&token=eb7ea86c-903f-40d5-98f6-7b2cddff7e37" class="bigPhone"alt="">
                <div class="orBlock"></div>
                <div class="howWorks">
                    <div class="points">
                        <div class="point">
                            <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fclipboard_icon.png?alt=media&token=e3bc07b2-c7dc-4af5-b951-f952a6ac63fe" alt="">
                            <h3>SET A GOAL</h3>
                            <p>We match you with a personalized daily calorie budget and weight loss plan.</p>
                        </div>
                        <div class="point">
                            <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fphone_icon.png?alt=media&token=1d319f68-81a3-4ddd-8c53-9bb07dbc179f" alt="">
                            <h3>TRACK FOOD & EXERCISE</h3>
                            <p>Track your meals & moves with our food & exercise database + tracking tools.</p>
                        </div>
                        <div class="point">
                            <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fcommunity_icon.png?alt=media&token=5145d7a9-2d1c-461b-b340-c0ab35871f49" alt="">
                            <h3>CONNECT APPS & DEVICES</h3>
                            <p>Connect devices, fitness trackers and apps for seamless activity and biometric tracking.
                            </p>
                        </div>
                        <div class="point">
                            <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fchart_icon.png?alt=media&token=34f0e7f7-a079-4fc9-9db3-83c6049e06ef" alt="">
                            <h3>WEIGHT LOSS COMMUNITY</h3>
                            <p>Tap into the Lose It! community for inspiration, guidance, support and challenges.</p>
                        </div>
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fhow_it_works_phone.jpg?alt=media&token=32834f2f-cbb0-4eea-8283-733abdc36a54" alt="">
                </div>
            </div>
            <div class="foodTrack">
                <h2>Food Tracking Made Easy</h2>
                <div class="orBlock"></div>
                <h3 class="ways">3 ways to track</h3>
                <div class="search">
                    <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fsearch_phone.jpg?alt=media&token=1d63ba06-8860-4db4-9aa5-053610261409" alt="">
                </div>
                <div class="text1 text">
                    <h4>SEARCH IT<b></b></h4>
                    <p>Food database with 7 million+ foods, restaurant items and brands from around the world, hand
                        curated by our on-staff nutrition experts.</p>
                </div>
                <div class="text text2">
                    <h4>SCAN IT<b></b></h4>
                    <p>Barcode scanner uses your phone's camera to upload nutritional information associated with
                        food labels</p>
                </div>
                <div class="scan">
                    <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fscan_phone.jpg?alt=media&token=add8e85d-6c47-4ed2-a09c-a52428fc244b" alt="">
                </div>
                <div class="snap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/calorie-counter-a6d4b.appspot.com/o/images%2Fsnap_phone.jpg?alt=media&token=9440ecc3-9608-42f2-886c-7e3d1f33b6e8" alt="">
                </div>
                <div class="text text3">
                    <h4>SNAP IT<b></b></h4>
                    <p>Now, tracking your food is as easy as snapping a picture</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grayBlock">
        <h2>Lose Weight</h2>
        <i>ONCE AND FOR ALL</i>
        <hr>
        <p>Get access to basic tracking free. Or go Premium to get a personalized program and serious results.</p>
    </div>
</main>